#### Basic statistical testing

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [3]:
df=pd.read_csv('grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [4]:
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [5]:
early_finishers=df[pd.to_datetime(df['assignment1_submission'])<'2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [6]:
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [8]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024304
74.0450648477065

In [9]:
from scipy.stats import ttest_ind
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)

In [11]:
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [12]:
df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.728930,0.431579,0.148911,0.269834,0.596628,0.192605,0.066435,0.653443,0.925301,0.367461,...,0.447193,0.901340,0.142804,0.056160,0.498991,0.211184,0.194021,0.784992,0.604335,0.381106
1,0.054500,0.939961,0.810734,0.212162,0.848470,0.556327,0.283050,0.665717,0.419027,0.856238,...,0.318150,0.673180,0.531374,0.679694,0.512098,0.428527,0.333383,0.868881,0.140027,0.309716
2,0.987705,0.133756,0.826095,0.491351,0.139077,0.974299,0.468941,0.405138,0.577755,0.494182,...,0.184368,0.177845,0.507753,0.681847,0.106530,0.831292,0.389258,0.915925,0.876055,0.818936
3,0.562651,0.095030,0.749267,0.675713,0.038642,0.104077,0.308194,0.777792,0.558917,0.061755,...,0.967807,0.697590,0.918044,0.654444,0.453442,0.760392,0.464303,0.512570,0.743545,0.980089
4,0.776734,0.108496,0.620611,0.807242,0.757158,0.101353,0.239044,0.648007,0.070056,0.353504,...,0.644365,0.129726,0.669014,0.136404,0.192900,0.181289,0.721783,0.891808,0.667762,0.897780

In [13]:
df2=pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.362991,0.291106,0.744696,0.472779,0.539323,0.210771,0.781902,0.047847,0.752398,0.800379,...,0.199124,0.065253,0.389396,0.081738,0.789898,0.212362,0.891741,0.568696,0.169025,0.249803
1,0.900442,0.694349,0.571460,0.014228,0.372075,0.415123,0.375457,0.133902,0.850867,0.824227,...,0.310720,0.679914,0.770697,0.300839,0.441155,0.582082,0.473939,0.914723,0.140309,0.043923
2,0.245551,0.732314,0.506127,0.495839,0.844866,0.857244,0.089339,0.723987,0.751641,0.421602,...,0.092314,0.889073,0.919605,0.947839,0.313411,0.006341,0.376027,0.410597,0.676871,0.843428
3,0.460227,0.055925,0.282977,0.916645,0.655292,0.052831,0.321066,0.225999,0.686319,0.286076,...,0.439585,0.991483,0.811021,0.178608,0.732317,0.687151,0.327349,0.990177,0.707335,0.362155
4,0.979606,0.997166,0.814246,0.778605,0.971290,0.873227,0.599105,0.707059,0.670929,0.085026,...,0.035272,0.609600,0.738860,0.751094,0.214418,0.196858,0.476935,0.962135,0.080774,0.649288

In [16]:
def test_columns(alpha=0.1):
    num_diff=0
    for col in df1.columns:
        teststat,pval=ttest_ind(df1[col],df2[col])
        if pval <= alpha:
            print("col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    print("Total number different was {}, which is {}%".format(num_diff, float(num_diff)/len(df1.columns)*100))
    
test_columns()

col 2 is statistically significantly different at alpha=0.1, pval=0.017001686460338675
col 34 is statistically significantly different at alpha=0.1, pval=0.018822466624434517
col 38 is statistically significantly different at alpha=0.1, pval=0.06231475664814085
col 45 is statistically significantly different at alpha=0.1, pval=0.009988089094959449
col 48 is statistically significantly different at alpha=0.1, pval=0.03212142638646789
col 52 is statistically significantly different at alpha=0.1, pval=0.042118491492502026
col 61 is statistically significantly different at alpha=0.1, pval=0.03620515700987537
col 62 is statistically significantly different at alpha=0.1, pval=0.043396412678591165
col 65 is statistically significantly different at alpha=0.1, pval=0.08184576560563665
col 66 is statistically significantly different at alpha=0.1, pval=0.0057758670310632506
col 73 is statistically significantly different at alpha=0.1, pval=0.0025672615231103744
col 87 is statistically significantly different at alpha=0.1, pval=0.08886369399409293
col 96 is statistically significantly different at alpha=0.1, pval=0.0864301486566793
Total number different was 13, which is 13.0%

In [17]:
test_columns(0.05)

col 2 is statistically significantly different at alpha=0.05, pval=0.017001686460338675
col 34 is statistically significantly different at alpha=0.05, pval=0.018822466624434517
col 45 is statistically significantly different at alpha=0.05, pval=0.009988089094959449
col 48 is statistically significantly different at alpha=0.05, pval=0.03212142638646789
col 52 is statistically significantly different at alpha=0.05, pval=0.042118491492502026
col 61 is statistically significantly different at alpha=0.05, pval=0.03620515700987537
col 62 is statistically significantly different at alpha=0.05, pval=0.043396412678591165
col 66 is statistically significantly different at alpha=0.05, pval=0.0057758670310632506
col 73 is statistically significantly different at alpha=0.05, pval=0.0025672615231103744
Total number different was 9, which is 9.0%

In [19]:
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

col 0 is statistically significantly different at alpha=0.1, pval=0.0005205522208946704
col 1 is statistically significantly different at alpha=0.1, pval=0.00023145422419365027
col 2 is statistically significantly different at alpha=0.1, pval=0.0018208102903112756
col 3 is statistically significantly different at alpha=0.1, pval=4.43901607277715e-05
col 4 is statistically significantly different at alpha=0.1, pval=0.0005449771397423032
col 5 is statistically significantly different at alpha=0.1, pval=0.002517120376038773
col 6 is statistically significantly different at alpha=0.1, pval=0.0022940895643308325
col 7 is statistically significantly different at alpha=0.1, pval=0.00010287207065582012
col 8 is statistically significantly different at alpha=0.1, pval=0.0008397372402585109
col 9 is statistically significantly different at alpha=0.1, pval=2.98130405669715e-05
col 10 is statistically significantly different at alpha=0.1, pval=0.0007838086621225715
col 11 is statistically significantly different at alpha=0.1, pval=0.0009636566387385593
col 12 is statistically significantly different at alpha=0.1, pval=0.02363505077927333
col 13 is statistically significantly different at alpha=0.1, pval=0.00012963501116291495
col 14 is statistically significantly different at alpha=0.1, pval=7.818483922588918e-06
col 15 is statistically significantly different at alpha=0.1, pval=0.0003854860523434813
col 16 is statistically significantly different at alpha=0.1, pval=2.1459210518133595e-05
col 17 is statistically significantly different at alpha=0.1, pval=0.0009483138018287565
col 18 is statistically significantly different at alpha=0.1, pval=8.390973937587779e-06
col 19 is statistically significantly different at alpha=0.1, pval=0.0005680033857517631
col 20 is statistically significantly different at alpha=0.1, pval=0.007073198264984942
col 21 is statistically significantly different at alpha=0.1, pval=0.004808775555108511
col 22 is statistically significantly different at alpha=0.1, pval=0.005008857952297048
col 23 is statistically significantly different at alpha=0.1, pval=6.352750223054942e-06
col 24 is statistically significantly different at alpha=0.1, pval=0.015369980170386172
col 25 is statistically significantly different at alpha=0.1, pval=2.7205274705873904e-05
col 26 is statistically significantly different at alpha=0.1, pval=2.986839792475655e-05
col 27 is statistically significantly different at alpha=0.1, pval=0.0021451342303729108
col 28 is statistically significantly different at alpha=0.1, pval=0.03871206706973788
col 29 is statistically significantly different at alpha=0.1, pval=0.001957333640549948
col 30 is statistically significantly different at alpha=0.1, pval=0.008217141477712613
col 31 is statistically significantly different at alpha=0.1, pval=0.0002110434824027807
col 32 is statistically significantly different at alpha=0.1, pval=3.302245418504829e-05
col 33 is statistically significantly different at alpha=0.1, pval=0.0028469941481500186
col 34 is statistically significantly different at alpha=0.1, pval=0.002661175351501628
col 35 is statistically significantly different at alpha=0.1, pval=0.00852445593186222
col 36 is statistically significantly different at alpha=0.1, pval=0.022542512584112964
col 37 is statistically significantly different at alpha=0.1, pval=7.36069745053993e-05
col 38 is statistically significantly different at alpha=0.1, pval=0.001238949040046591
col 39 is statistically significantly different at alpha=0.1, pval=0.0005418919017165626
col 40 is statistically significantly different at alpha=0.1, pval=0.00048449852087782577
col 41 is statistically significantly different at alpha=0.1, pval=0.001389287114618152
col 42 is statistically significantly different at alpha=0.1, pval=9.062083175841953e-05
col 43 is statistically significantly different at alpha=0.1, pval=0.00033460823538942455
col 44 is statistically significantly different at alpha=0.1, pval=0.0004447908099068625
col 45 is statistically significantly different at alpha=0.1, pval=0.001236554557851237
col 46 is statistically significantly different at alpha=0.1, pval=0.0002536432971270709
col 47 is statistically significantly different at alpha=0.1, pval=0.0005589755822322598
col 48 is statistically significantly different at alpha=0.1, pval=0.0066602861215721105
col 49 is statistically significantly different at alpha=0.1, pval=0.000144305747477428
col 50 is statistically significantly different at alpha=0.1, pval=0.0005180274648211033
col 51 is statistically significantly different at alpha=0.1, pval=0.0024793690953717777
col 52 is statistically significantly different at alpha=0.1, pval=0.00028070801227523173
col 53 is statistically significantly different at alpha=0.1, pval=0.0032395507385673994
col 54 is statistically significantly different at alpha=0.1, pval=0.0003981448376629025
col 55 is statistically significantly different at alpha=0.1, pval=0.0006183763967089265
col 56 is statistically significantly different at alpha=0.1, pval=1.1638759426659322e-06
col 57 is statistically significantly different at alpha=0.1, pval=0.0008240752352643343
col 58 is statistically significantly different at alpha=0.1, pval=0.02268672218686272
col 59 is statistically significantly different at alpha=0.1, pval=0.023455808806800454
col 60 is statistically significantly different at alpha=0.1, pval=0.001850663291946126
col 61 is statistically significantly different at alpha=0.1, pval=9.314153428748374e-06
col 62 is statistically significantly different at alpha=0.1, pval=0.09374441774565094
col 63 is statistically significantly different at alpha=0.1, pval=0.0044757382752970845
col 64 is statistically significantly different at alpha=0.1, pval=0.002150725454859085
col 65 is statistically significantly different at alpha=0.1, pval=0.00013770359474689304
col 66 is statistically significantly different at alpha=0.1, pval=0.00653349295667426
col 67 is statistically significantly different at alpha=0.1, pval=0.0002827401607109137
col 68 is statistically significantly different at alpha=0.1, pval=0.0063051192444679985
col 69 is statistically significantly different at alpha=0.1, pval=0.0018415901232320985
col 70 is statistically significantly different at alpha=0.1, pval=0.00029554692520998235
col 71 is statistically significantly different at alpha=0.1, pval=1.8556503326115505e-07
col 72 is statistically significantly different at alpha=0.1, pval=0.0040697116958820475
col 73 is statistically significantly different at alpha=0.1, pval=0.00048499530440954445
col 74 is statistically significantly different at alpha=0.1, pval=0.01651335770464982
col 75 is statistically significantly different at alpha=0.1, pval=0.00043379481606828737
col 76 is statistically significantly different at alpha=0.1, pval=0.0011911971961687962
col 77 is statistically significantly different at alpha=0.1, pval=6.287898601539049e-05
col 78 is statistically significantly different at alpha=0.1, pval=0.0005820332082802848
col 79 is statistically significantly different at alpha=0.1, pval=0.00014215470180291891
col 80 is statistically significantly different at alpha=0.1, pval=0.024017455778445426
col 81 is statistically significantly different at alpha=0.1, pval=0.00044565578118346865
col 82 is statistically significantly different at alpha=0.1, pval=0.0003829639951405187
col 83 is statistically significantly different at alpha=0.1, pval=3.035539164754748e-05
col 84 is statistically significantly different at alpha=0.1, pval=0.00013417887056563522
col 85 is statistically significantly different at alpha=0.1, pval=0.010756124083120207
col 86 is statistically significantly different at alpha=0.1, pval=0.004673392241522938
col 87 is statistically significantly different at alpha=0.1, pval=0.01949527390073743
col 88 is statistically significantly different at alpha=0.1, pval=0.021426172201284267
col 89 is statistically significantly different at alpha=0.1, pval=0.009823881394739808
col 90 is statistically significantly different at alpha=0.1, pval=0.0006094038967052767
col 91 is statistically significantly different at alpha=0.1, pval=0.01747073659790894
col 92 is statistically significantly different at alpha=0.1, pval=2.3017656740689354e-05
col 93 is statistically significantly different at alpha=0.1, pval=0.0003122401887433228
col 94 is statistically significantly different at alpha=0.1, pval=0.00023344739592092223
col 95 is statistically significantly different at alpha=0.1, pval=4.178417542178076e-05
col 96 is statistically significantly different at alpha=0.1, pval=0.012810124072240452
col 97 is statistically significantly different at alpha=0.1, pval=0.001467520536300071
col 98 is statistically significantly different at alpha=0.1, pval=7.632637421715885e-05
col 99 is statistically significantly different at alpha=0.1, pval=0.004668244327587302
Total number different was 100, which is 100.0%