### MerginDataFrame

In [ ]:
import pandas as pd

In [2]:
staff_df=pd.DataFrame([{'Name': 'Kelly', 'Role':'Director of HR'},
                       {'Name':'Sally','Role':'Course liasion'},
                       {'Name':'James','Role':'Grader'}
                       ])

staff_df=staff_df.set_index('Name')

student_df=pd.DataFrame([{'Name': 'James', 'School':'Business'},
                       {'Name':'Mike','School':'Law'},
                       {'Name':'Sally','School':'Engineering'}
                       ])

student_df=student_df.set_index('Name')

print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [3]:
pd.merge(staff_df,student_df,how='outer', left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [4]:
pd.merge(staff_df,student_df,how='inner', left_index=True,right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [5]:
pd.merge(staff_df,student_df,how='left', left_index=True,right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [7]:
pd.merge(staff_df,student_df,how='right', left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [8]:
staff_df=pd.DataFrame([{'Name': 'Kelly', 'Role':'Director of HR','Location':'State Street'},
                       {'Name':'Sally','Role':'Course liasion','Location':'Washington Avenue'},
                       {'Name':'James','Role':'Grader','Location': 'Washington Avenue'}
                       ])


student_df=pd.DataFrame([{'Name': 'James', 'School':'Business','Location':'1024 Billiard Avenue'},
                       {'Name':'Mike','School':'Law','Location':'Fraternity House #22'},
                       {'Name':'Sally','School':'Engineering','Location':'512 Wilson Crescent'}
                       ])

pd.merge(staff_df,student_df,how='left', on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [10]:
staff_df=pd.DataFrame([{'Name': 'Kelly','Last Name':'Desjardins','Role':'Director of HR'},
                       {'Name':'Sally','Last Name':'Brooks','Role':'Course liasion'},
                       {'Name':'James','Last Name':'Wilde','Role':'Grader'}
                       ])

student_df=pd.DataFrame([{'Name': 'James','Last Name':'Hanmond', 'School':'Business'},
                       {'Name':'Mike','Last Name':'Smith','School':'Law'},
                       {'Name':'Sally','Last Name':'Brooks','School':'Engineering'}
                       ])

pd.merge(staff_df,student_df, how='inner', on=['Name','Last Name'])

    Name Last Name            Role       School
0  Sally    Brooks  Course liasion  Engineering

In [12]:
%%capture
df_2010=pd.read_csv("datasets/collage_scorecard/MERGED2010_11_PP.csv")
df_2012=pd.read_csv("datasets/collage_scorecard/MERGED2012_13_PP.csv")
df_2013=pd.read_csv("datasets/collage_scorecard/MERGED2013_14_PP.csv")

df_2010.head(3)

In [13]:
df_2010.head(3)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
print(len(df_2010))
print(len(df_2012))
print(len(df_2013))

7414
7793
7804

In [17]:
frames=[df_2010,df_2012,df_2013]
pd.concat(frames)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,48285703,157107,1571,Georgia Military College-Columbus Campus,Columbus,GA,31909,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800,48285704,157101,1571,Georgia Military College-Valdosta Campus,Valdosta,GA,31605,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7801,48285705,157105,1571,Georgia Military College-Warner Robins Campus,Warner Robins,GA,31093,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7802,48285706,157100,1571,Georgia Military College-Online,Milledgeville,GA,31061,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7803,48285707,157103,1571,Georgia Military College-Stone Mountain,Stone Mountain,GA,30083,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
pd.concat(frames,keys=['2010','2012','2013'])

             UNITID    OPEID  OPEID6  \
2010 0       100654   100200    1002
     1       100663   105200    1052
     2       100690  2503400   25034
     3       100706   105500    1055
     4       100724   100500    1005
...             ...      ...     ...
2013 7799  48285703   157107    1571
     7800  48285704   157101    1571
     7801  48285705   157105    1571
     7802  48285706   157100    1571
     7803  48285707   157103    1571

                                                  INSTNM            CITY  \
2010 0                          Alabama A & M University          Normal
     1               University of Alabama at Birmingham      Birmingham
     2                                Amridge University      Montgomery
     3               University of Alabama in Huntsville      Huntsville
     4                          Alabama State University      Montgomery
...                                                  ...             ...
2013 7799       Georgia Military College-Columbus Campus        Columbus
     7800       Georgia Military College-Valdosta Campus        Valdosta
     7801  Georgia Military College-Warner Robins Campus   Warner Robins
     7802                Georgia Military College-Online   Milledgeville
     7803        Georgia Military College-Stone Mountain  Stone Mountain

          STABBR         ZIP  ACCREDAGENCY  INSTURL  NPCURL  ...  \
2010 0        AL       35762           NaN      NaN     NaN  ...
     1        AL  35294-0110           NaN      NaN     NaN  ...
     2        AL  36117-3553           NaN      NaN     NaN  ...
     3        AL       35899           NaN      NaN     NaN  ...
     4        AL  36104-0271           NaN      NaN     NaN  ...
...          ...         ...           ...      ...     ...  ...
2013 7799     GA       31909           NaN      NaN     NaN  ...
     7800     GA       31605           NaN      NaN     NaN  ...
     7801     GA       31093           NaN      NaN     NaN  ...
     7802     GA       31061           NaN      NaN     NaN  ...
     7803     GA       30083           NaN      NaN     NaN  ...

           OMAWDP8_NOTFIRSTTIME_POOLED_SUPP  OMENRUP_NOTFIRSTTIME_POOLED_SUPP  \
2010 0                                  NaN                               NaN
     1                                  NaN                               NaN
     2                                  NaN                               NaN
     3                                  NaN                               NaN
     4                                  NaN                               NaN
...                                     ...                               ...
2013 7799                               NaN                               NaN
     7800                               NaN                               NaN
     7801                               NaN                               NaN
     7802                               NaN                               NaN
     7803                               NaN                               NaN

           OMENRYP_FULLTIME_POOLED_SUPP  OMENRAP_FULLTIME_POOLED_SUPP  \
2010 0                              NaN                           NaN
     1                              NaN                           NaN
     2                              NaN                           NaN
     3                              NaN                           NaN
     4                              NaN                           NaN
...                                 ...                           ...
2013 7799                           NaN                           NaN
     7800                           NaN                           NaN
     7801                           NaN                           NaN
     7802                           NaN                           NaN
     7803                           NaN                           NaN

           OMAWDP8_FULLTIME_POOLED_SUPP  OMENRUP_FULLTIME_POOLED_SUPP  \
2010 0                              NaN                           NaN
     1                              NaN                           NaN
     2                              NaN                           NaN
     3                              NaN                           NaN
     4                              NaN                           NaN
...                                 ...                           ...
2013 7799                           NaN                           NaN
     7800                           NaN                           NaN
     7801                           NaN                           NaN
     7802                           NaN                           NaN
     7803                           NaN                           NaN

           OMENRYP_PARTTIME_POOLED_SUPP  OMENRAP_PARTTIME_POOLED_SUPP  \
2010 0                              NaN                           NaN
     1                              NaN                           NaN
     2                              NaN                           NaN
     3                              NaN                           NaN
     4                              NaN                           NaN
...                                 ...                           ...
2013 7799                           NaN                           NaN
     7800                           NaN                           NaN
     7801                           NaN                           NaN
     7802                           NaN                           NaN
     7803                           NaN                           NaN

           OMAWDP8_PARTTIME_POOLED_SUPP  OMENRUP_PARTTIME_POOLED_SUPP
2010 0                              NaN                           NaN
     1                              NaN                           NaN
     2                              NaN                           NaN
     3                              NaN                           NaN
     4                              NaN                           NaN
...                                 ...                           ...
2013 7799                           NaN                           NaN
     7800                           NaN                           NaN
     7801                           NaN                           NaN
     7802                           NaN                           NaN
     7803                           NaN                           NaN

[23011 rows x 1977 columns]

### Pandas Idioms

In [2]:
import pandas as pd
import numpy as np
import timeit
df=pd.read_csv('datasets/census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [2]:
(df.where(df['SUMLEV']==50)
 .dropna()
 .set_index(['STNAME','CTYNAME'])
 .rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'}))

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County       50.0     3.0       6.0    1.0     1.0
        Baldwin County       50.0     3.0       6.0    1.0     3.0
        Barbour County       50.0     3.0       6.0    1.0     5.0
        Bibb County          50.0     3.0       6.0    1.0     7.0
        Blount County        50.0     3.0       6.0    1.0     9.0
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County    50.0     4.0       8.0   56.0    37.0
        Teton County         50.0     4.0       8.0   56.0    39.0
        Uinta County         50.0     4.0       8.0   56.0    41.0
        Washakie County      50.0     4.0       8.0   56.0    43.0
        Weston County        50.0     4.0       8.0   56.0    45.0

                           CENSUS2010POP  Estimates Base 2010  \
STNAME  CTYNAME
Alabama Autauga County           54571.0              54571.0
        Baldwin County          182265.0             182265.0
        Barbour County           27457.0              27457.0
        Bibb County              22915.0              22919.0
        Blount County            57322.0              57322.0
...                                  ...                  ...
Wyoming Sweetwater County        43806.0              43806.0
        Teton County             21294.0              21294.0
        Uinta County             21118.0              21118.0
        Washakie County           8533.0               8533.0
        Weston County             7208.0               7208.0

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County             54660.0          55253.0          55175.0
        Baldwin County            183193.0         186659.0         190396.0
        Barbour County             27341.0          27226.0          27159.0
        Bibb County                22861.0          22733.0          22642.0
        Blount County              57373.0          57711.0          57776.0
...                                    ...              ...              ...
Wyoming Sweetwater County          43593.0          44041.0          45104.0
        Teton County               21297.0          21482.0          21697.0
        Uinta County               21102.0          20912.0          20989.0
        Washakie County             8545.0           8469.0           8443.0
        Weston County               7181.0           7114.0           7065.0

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [3]:
import pandas as pd
df=df[df['SUMLEV']==50]
df.set_index(['STNAME','CTYNAME'], inplace=True)
df.rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'})

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County         50       3         6      1       1
        Baldwin County         50       3         6      1       3
        Barbour County         50       3         6      1       5
        Bibb County            50       3         6      1       7
        Blount County          50       3         6      1       9
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County      50       4         8     56      37
        Teton County           50       4         8     56      39
        Uinta County           50       4         8     56      41
        Washakie County        50       4         8     56      43
        Weston County          50       4         8     56      45

                           CENSUS2010POP  Estimates Base 2010  \
STNAME  CTYNAME
Alabama Autauga County             54571                54571
        Baldwin County            182265               182265
        Barbour County             27457                27457
        Bibb County                22915                22919
        Blount County              57322                57322
...                                  ...                  ...
Wyoming Sweetwater County          43806                43806
        Teton County               21294                21294
        Uinta County               21118                21118
        Washakie County             8533                 8533
        Weston County               7208                 7208

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County               54660            55253            55175
        Baldwin County              183193           186659           190396
        Barbour County               27341            27226            27159
        Bibb County                  22861            22733            22642
        Blount County                57373            57711            57776
...                                    ...              ...              ...
Wyoming Sweetwater County            43593            44041            45104
        Teton County                 21297            21482            21697
        Uinta County                 21102            20912            20989
        Washakie County               8545             8469             8443
        Weston County                 7181             7114             7065

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [5]:
def first_approch():
    global df
    return (df.where(df['SUMLEV']==50)
            .dropna()
            .set_index(['STNAME','CTYNAME'])
            .rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'}))

df = pd.read_csv('datasets/census.csv')

timeit.timeit(first_approch,number=10)

0.16555735600002208

In [6]:
def second_approch():
    global df
    new_df=df[df['SUMLEV']==50]
    new_df.set_index(['STNAME','CTYNAME'],inplace=True)
    return new_df.rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'})

df=pd.read_csv('datasets/census.csv')

timeit.timeit(second_approch,number=10)

0.03595256099993094

In [9]:
def min_max(row):
    data=row[['POPESTIMATE2010',
              'POPESTIMATE2011',
              'POPESTIMATE2012',
              'POPESTIMATE2013',
              'POPESTIMATE2014',
              'POPESTIMATE2015'
              ]]
    return pd.Series({'min':np.min(data),'max':np.max(data)})

In [10]:
df.apply(min_max,axis='columns').head()

       min      max
0  4785161  4858979
1    54660    55347
2   183193   203709
3    26489    27341
4    22512    22861

In [12]:
def min_max(row):
    data=row[['POPESTIMATE2010',
              'POPESTIMATE2011',
              'POPESTIMATE2012',
              'POPESTIMATE2013',
              'POPESTIMATE2014',
              'POPESTIMATE2015'
              ]]
    row['max']=np.max(data)
    row['min']=np.min(data)

    return row

df.apply(min_max, axis='columns')

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,max,min
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594,4858979,4785161
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333,55347,54660
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499,203709,183193
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299,27341,26489
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861,22861,22512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195,45162,43593
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747,23125,21297
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351,21102,20822
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961,8545,8316
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294,7234,7065

In [13]:
rows=['POPESTIMATE2010',
              'POPESTIMATE2011',
              'POPESTIMATE2012',
              'POPESTIMATE2013',
              'POPESTIMATE2014',
              'POPESTIMATE2015'
              ]

df.apply(lambda x: np.max(x[rows]),axis= 1).head()

0    4858979
1      55347
2     203709
3      27341
4      22861
dtype: int64

In [14]:
def get_state_region(x):
    northeast=['Connecticut','Maine','Massachusetts','New Hampshire', 'Rhode Island','Vermont','New York','New Jersey', 'Pennsylvania']
    midwest=['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa','Kansas','Minnesota','Missouri','Nebraska','North Dakota', 'South Dakota']
    south=['Delaware','Florida','Georgia','Maryland','North Carolina','South Carolina','Virginia','District of Columbia','West Virginia','Alabama','Kentucky','Mississippi','Tennessee','Arkansas','Louisiana','Oklahoma','Texas']
    west=['Arizona','Colorado','Idaho','Montana','Nevada','New Mexico','Utah','Wyoming','Alaska','California','Hawaii','Oregon','Washington']

    if x in northeast:
        return "Northeast"
    elif x in midwest:
        return "Midwest"
    elif x in south:
        return "South"
    else:
        return "West"

df['state_region']=df['STNAME'].apply(lambda x:get_state_region(x))

In [15]:
df[['STNAME','state_region']].head()

    STNAME state_region
0  Alabama        South
1  Alabama        South
2  Alabama        South
3  Alabama        South
4  Alabama        South

### Group by

#### Splitting

In [16]:
import pandas as pd 
import numpy as np

In [17]:
df=pd.read_csv('datasets/census.csv')
df=df[df['SUMLEV']==50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [18]:
%%timeit -n 3

for state in df['STNAME'].unique():
    avg=np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])

    print('Countries in state ' + state + ' have an avergae population of ' +str(avg))

Countries in state Alabama have an avergae population of 71339.34328358209
Countries in state Alaska have an avergae population of 24490.724137931036
Countries in state Arizona have an avergae population of 426134.4666666667
Countries in state Arkansas have an avergae population of 38878.90666666667
Countries in state California have an avergae population of 642309.5862068966
Countries in state Colorado have an avergae population of 78581.1875
Countries in state Connecticut have an avergae population of 446762.125
Countries in state Delaware have an avergae population of 299311.3333333333
Countries in state District of Columbia have an avergae population of 601723.0
Countries in state Florida have an avergae population of 280616.5671641791
Countries in state Georgia have an avergae population of 60928.63522012578
Countries in state Hawaii have an avergae population of 272060.2
Countries in state Idaho have an avergae population of 35626.86363636364
Countries in state Illinois have an avergae population of 125790.50980392157
Countries in state Indiana have an avergae population of 70476.10869565218
Countries in state Iowa have an avergae population of 30771.262626262625
Countries in state Kansas have an avergae population of 27172.55238095238
Countries in state Kentucky have an avergae population of 36161.39166666667
Countries in state Louisiana have an avergae population of 70833.9375
Countries in state Maine have an avergae population of 83022.5625
Countries in state Maryland have an avergae population of 240564.66666666666
Countries in state Massachusetts have an avergae population of 467687.78571428574
Countries in state Michigan have an avergae population of 119080.0
Countries in state Minnesota have an avergae population of 60964.65517241379
Countries in state Mississippi have an avergae population of 36186.54878048781
Countries in state Missouri have an avergae population of 52077.62608695652
Countries in state Montana have an avergae population of 17668.125
Countries in state Nebraska have an avergae population of 19638.075268817203
Countries in state Nevada have an avergae population of 158855.9411764706
Countries in state New Hampshire have an avergae population of 131647.0
Countries in state New Jersey have an avergae population of 418661.61904761905
Countries in state New Mexico have an avergae population of 62399.36363636364
Countries in state New York have an avergae population of 312550.03225806454
Countries in state North Carolina have an avergae population of 95354.83
Countries in state North Dakota have an avergae population of 12690.396226415094
Countries in state Ohio have an avergae population of 131096.63636363635
Countries in state Oklahoma have an avergae population of 48718.844155844155
Countries in state Oregon have an avergae population of 106418.72222222222
Countries in state Pennsylvania have an avergae population of 189587.74626865672
Countries in state Rhode Island have an avergae population of 210513.4
Countries in state South Carolina have an avergae population of 100551.39130434782
Countries in state South Dakota have an avergae population of 12336.060606060606
Countries in state Tennessee have an avergae population of 66801.1052631579
Countries in state Texas have an avergae population of 98998.27165354331
Countries in state Utah have an avergae population of 95306.37931034483
Countries in state Vermont have an avergae population of 44695.78571428572
Countries in state Virginia have an avergae population of 60111.29323308271
Countries in state Washington have an avergae population of 172424.10256410256
Countries in state West Virginia have an avergae population of 33690.8
Countries in state Wisconsin have an avergae population of 78985.91666666667
Countries in state Wyoming have an avergae population of 24505.478260869564
Countries in state Alabama have an avergae population of 71339.34328358209
Countries in state Alaska have an avergae population of 24490.724137931036
Countries in state Arizona have an avergae population of 426134.4666666667
Countries in state Arkansas have an avergae population of 38878.90666666667
Countries in state California have an avergae population of 642309.5862068966
Countries in state Colorado have an avergae population of 78581.1875
Countries in state Connecticut have an avergae population of 446762.125
Countries in state Delaware have an avergae population of 299311.3333333333
Countries in state District of Columbia have an avergae population of 601723.0
Countries in state Florida have an avergae population of 280616.5671641791
Countries in state Georgia have an avergae population of 60928.63522012578
Countries in state Hawaii have an avergae population of 272060.2
Countries in state Idaho have an avergae population of 35626.86363636364
Countries in state Illinois have an avergae population of 125790.50980392157
Countries in state Indiana have an avergae population of 70476.10869565218
Countries in state Iowa have an avergae population of 30771.262626262625
Countries in state Kansas have an avergae population of 27172.55238095238
Countries in state Kentucky have an avergae population of 36161.39166666667
Countries in state Louisiana have an avergae population of 70833.9375
Countries in state Maine have an avergae population of 83022.5625
Countries in state Maryland have an avergae population of 240564.66666666666
Countries in state Massachusetts have an avergae population of 467687.78571428574
Countries in state Michigan have an avergae population of 119080.0
Countries in state Minnesota have an avergae population of 60964.65517241379
Countries in state Mississippi have an avergae population of 36186.54878048781
Countries in state Missouri have an avergae population of 52077.62608695652
Countries in state Montana have an avergae population of 17668.125
Countries in state Nebraska have an avergae population of 19638.075268817203
Countries in state Nevada have an avergae population of 158855.9411764706
Countries in state New Hampshire have an avergae population of 131647.0
Countries in state New Jersey have an avergae population of 418661.61904761905
Countries in state New Mexico have an avergae population of 62399.36363636364
Countries in state New York have an avergae population of 312550.03225806454
Countries in state North Carolina have an avergae population of 95354.83
Countries in state North Dakota have an avergae population of 12690.396226415094
Countries in state Ohio have an avergae population of 131096.63636363635
Countries in state Oklahoma have an avergae population of 48718.844155844155
Countries in state Oregon have an avergae population of 106418.72222222222
Countries in state Pennsylvania have an avergae population of 189587.74626865672
Countries in state Rhode Island have an avergae population of 210513.4
Countries in state South Carolina have an avergae population of 100551.39130434782
Countries in state South Dakota have an avergae population of 12336.060606060606
Countries in state Tennessee have an avergae population of 66801.1052631579
Countries in state Texas have an avergae population of 98998.27165354331
Countries in state Utah have an avergae population of 95306.37931034483
Countries in state Vermont have an avergae population of 44695.78571428572
Countries in state Virginia have an avergae population of 60111.29323308271
Countries in state Washington have an avergae population of 172424.10256410256
Countries in state West Virginia have an avergae population of 33690.8
Countries in state Wisconsin have an avergae population of 78985.91666666667
Countries in state Wyoming have an avergae population of 24505.478260869564
Countries in state Alabama have an avergae population of 71339.34328358209
Countries in state Alaska have an avergae population of 24490.724137931036
Countries in state Arizona have an avergae population of 426134.4666666667
Countries in state Arkansas have an avergae population of 38878.90666666667
Countries in state California have an avergae population of 642309.5862068966
Countries in state Colorado have an avergae population of 78581.1875
Countries in state Connecticut have an avergae population of 446762.125
Countries in state Delaware have an avergae population of 299311.3333333333
Countries in state District of Columbia have an avergae population of 601723.0
Countries in state Florida have an avergae population of 280616.5671641791
Countries in state Georgia have an avergae population of 60928.63522012578
Countries in state Hawaii have an avergae population of 272060.2
Countries in state Idaho have an avergae population of 35626.86363636364
Countries in state Illinois have an avergae population of 125790.50980392157
Countries in state Indiana have an avergae population of 70476.10869565218
Countries in state Iowa have an avergae population of 30771.262626262625
Countries in state Kansas have an avergae population of 27172.55238095238
Countries in state Kentucky have an avergae population of 36161.39166666667
Countries in state Louisiana have an avergae population of 70833.9375
Countries in state Maine have an avergae population of 83022.5625
Countries in state Maryland have an avergae population of 240564.66666666666
Countries in state Massachusetts have an avergae population of 467687.78571428574
Countries in state Michigan have an avergae population of 119080.0
Countries in state Minnesota have an avergae population of 60964.65517241379
Countries in state Mississippi have an avergae population of 36186.54878048781
Countries in state Missouri have an avergae population of 52077.62608695652
Countries in state Montana have an avergae population of 17668.125
Countries in state Nebraska have an avergae population of 19638.075268817203
Countries in state Nevada have an avergae population of 158855.9411764706
Countries in state New Hampshire have an avergae population of 131647.0
Countries in state New Jersey have an avergae population of 418661.61904761905
Countries in state New Mexico have an avergae population of 62399.36363636364
Countries in state New York have an avergae population of 312550.03225806454
Countries in state North Carolina have an avergae population of 95354.83
Countries in state North Dakota have an avergae population of 12690.396226415094
Countries in state Ohio have an avergae population of 131096.63636363635
Countries in state Oklahoma have an avergae population of 48718.844155844155
Countries in state Oregon have an avergae population of 106418.72222222222
Countries in state Pennsylvania have an avergae population of 189587.74626865672
Countries in state Rhode Island have an avergae population of 210513.4
Countries in state South Carolina have an avergae population of 100551.39130434782
Countries in state South Dakota have an avergae population of 12336.060606060606
Countries in state Tennessee have an avergae population of 66801.1052631579
Countries in state Texas have an avergae population of 98998.27165354331
Countries in state Utah have an avergae population of 95306.37931034483
Countries in state Vermont have an avergae population of 44695.78571428572
Countries in state Virginia have an avergae population of 60111.29323308271
Countries in state Washington have an avergae population of 172424.10256410256
Countries in state West Virginia have an avergae population of 33690.8
Countries in state Wisconsin have an avergae population of 78985.91666666667
Countries in state Wyoming have an avergae population of 24505.478260869564
Countries in state Alabama have an avergae population of 71339.34328358209
Countries in state Alaska have an avergae population of 24490.724137931036
Countries in state Arizona have an avergae population of 426134.4666666667
Countries in state Arkansas have an avergae population of 38878.90666666667
Countries in state California have an avergae population of 642309.5862068966
Countries in state Colorado have an avergae population of 78581.1875
Countries in state Connecticut have an avergae population of 446762.125
Countries in state Delaware have an avergae population of 299311.3333333333
Countries in state District of Columbia have an avergae population of 601723.0
Countries in state Florida have an avergae population of 280616.5671641791
Countries in state Georgia have an avergae population of 60928.63522012578
Countries in state Hawaii have an avergae population of 272060.2
Countries in state Idaho have an avergae population of 35626.86363636364
Countries in state Illinois have an avergae population of 125790.50980392157
Countries in state Indiana have an avergae population of 70476.10869565218
Countries in state Iowa have an avergae population of 30771.262626262625
Countries in state Kansas have an avergae population of 27172.55238095238
Countries in state Kentucky have an avergae population of 36161.39166666667
Countries in state Louisiana have an avergae population of 70833.9375
Countries in state Maine have an avergae population of 83022.5625
Countries in state Maryland have an avergae population of 240564.66666666666
Countries in state Massachusetts have an avergae population of 467687.78571428574
Countries in state Michigan have an avergae population of 119080.0
Countries in state Minnesota have an avergae population of 60964.65517241379
Countries in state Mississippi have an avergae population of 36186.54878048781
Countries in state Missouri have an avergae population of 52077.62608695652
Countries in state Montana have an avergae population of 17668.125
Countries in state Nebraska have an avergae population of 19638.075268817203
Countries in state Nevada have an avergae population of 158855.9411764706
Countries in state New Hampshire have an avergae population of 131647.0
Countries in state New Jersey have an avergae population of 418661.61904761905
Countries in state New Mexico have an avergae population of 62399.36363636364
Countries in state New York have an avergae population of 312550.03225806454
Countries in state North Carolina have an avergae population of 95354.83
Countries in state North Dakota have an avergae population of 12690.396226415094
Countries in state Ohio have an avergae population of 131096.63636363635
Countries in state Oklahoma have an avergae population of 48718.844155844155
Countries in state Oregon have an avergae population of 106418.72222222222
Countries in state Pennsylvania have an avergae population of 189587.74626865672
Countries in state Rhode Island have an avergae population of 210513.4
Countries in state South Carolina have an avergae population of 100551.39130434782
Countries in state South Dakota have an avergae population of 12336.060606060606
Countries in state Tennessee have an avergae population of 66801.1052631579
Countries in state Texas have an avergae population of 98998.27165354331
Countries in state Utah have an avergae population of 95306.37931034483
Countries in state Vermont have an avergae population of 44695.78571428572
Countries in state Virginia have an avergae population of 60111.29323308271
Countries in state Washington have an avergae population of 172424.10256410256
Countries in state West Virginia have an avergae population of 33690.8
Countries in state Wisconsin have an avergae population of 78985.91666666667
Countries in state Wyoming have an avergae population of 24505.478260869564
Countries in state Alabama have an avergae population of 71339.34328358209
Countries in state Alaska have an avergae population of 24490.724137931036
Countries in state Arizona have an avergae population of 426134.4666666667
Countries in state Arkansas have an avergae population of 38878.90666666667
Countries in state California have an avergae population of 642309.5862068966
Countries in state Colorado have an avergae population of 78581.1875
Countries in state Connecticut have an avergae population of 446762.125
Countries in state Delaware have an avergae population of 299311.3333333333
Countries in state District of Columbia have an avergae population of 601723.0
Countries in state Florida have an avergae population of 280616.5671641791
Countries in state Georgia have an avergae population of 60928.63522012578
Countries in state Hawaii have an avergae population of 272060.2
Countries in state Idaho have an avergae population of 35626.86363636364
Countries in state Illinois have an avergae population of 125790.50980392157
Countries in state Indiana have an avergae population of 70476.10869565218
Countries in state Iowa have an avergae population of 30771.262626262625
Countries in state Kansas have an avergae population of 27172.55238095238
Countries in state Kentucky have an avergae population of 36161.39166666667
Countries in state Louisiana have an avergae population of 70833.9375
Countries in state Maine have an avergae population of 83022.5625
Countries in state Maryland have an avergae population of 240564.66666666666
Countries in state Massachusetts have an avergae population of 467687.78571428574
Countries in state Michigan have an avergae population of 119080.0
Countries in state Minnesota have an avergae population of 60964.65517241379
Countries in state Mississippi have an avergae population of 36186.54878048781
Countries in state Missouri have an avergae population of 52077.62608695652
Countries in state Montana have an avergae population of 17668.125
Countries in state Nebraska have an avergae population of 19638.075268817203
Countries in state Nevada have an avergae population of 158855.9411764706
Countries in state New Hampshire have an avergae population of 131647.0
Countries in state New Jersey have an avergae population of 418661.61904761905
Countries in state New Mexico have an avergae population of 62399.36363636364
Countries in state New York have an avergae population of 312550.03225806454
Countries in state North Carolina have an avergae population of 95354.83
Countries in state North Dakota have an avergae population of 12690.396226415094
Countries in state Ohio have an avergae population of 131096.63636363635
Countries in state Oklahoma have an avergae population of 48718.844155844155
Countries in state Oregon have an avergae population of 106418.72222222222
Countries in state Pennsylvania have an avergae population of 189587.74626865672
Countries in state Rhode Island have an avergae population of 210513.4
Countries in state South Carolina have an avergae population of 100551.39130434782
Countries in state South Dakota have an avergae population of 12336.060606060606
Countries in state Tennessee have an avergae population of 66801.1052631579
Countries in state Texas have an avergae population of 98998.27165354331
Countries in state Utah have an avergae population of 95306.37931034483
Countries in state Vermont have an avergae population of 44695.78571428572
Countries in state Virginia have an avergae population of 60111.29323308271
Countries in state Washington have an avergae population of 172424.10256410256
Countries in state West Virginia have an avergae population of 33690.8
Countries in state Wisconsin have an avergae population of 78985.91666666667
Countries in state Wyoming have an avergae population of 24505.478260869564
Countries in state Alabama have an avergae population of 71339.34328358209
Countries in state Alaska have an avergae population of 24490.724137931036
Countries in state Arizona have an avergae population of 426134.4666666667
Countries in state Arkansas have an avergae population of 38878.90666666667
Countries in state California have an avergae population of 642309.5862068966
Countries in state Colorado have an avergae population of 78581.1875
Countries in state Connecticut have an avergae population of 446762.125
Countries in state Delaware have an avergae population of 299311.3333333333
Countries in state District of Columbia have an avergae population of 601723.0
Countries in state Florida have an avergae population of 280616.5671641791
Countries in state Georgia have an avergae population of 60928.63522012578

In [22]:
%%timeit -n 3

for group, frame in df.groupby('STNAME'):
    avg=np.average(frame['CENSUS2010POP'])
    print('Countries in state ' + group + ' have an average population of ' +str(avg))

Countries in state Alabama have an average population of 71339.34328358209
Countries in state Alaska have an average population of 24490.724137931036
Countries in state Arizona have an average population of 426134.4666666667
Countries in state Arkansas have an average population of 38878.90666666667
Countries in state California have an average population of 642309.5862068966
Countries in state Colorado have an average population of 78581.1875
Countries in state Connecticut have an average population of 446762.125
Countries in state Delaware have an average population of 299311.3333333333
Countries in state District of Columbia have an average population of 601723.0
Countries in state Florida have an average population of 280616.5671641791
Countries in state Georgia have an average population of 60928.63522012578
Countries in state Hawaii have an average population of 272060.2
Countries in state Idaho have an average population of 35626.86363636364
Countries in state Illinois have an average population of 125790.50980392157
Countries in state Indiana have an average population of 70476.10869565218
Countries in state Iowa have an average population of 30771.262626262625
Countries in state Kansas have an average population of 27172.55238095238
Countries in state Kentucky have an average population of 36161.39166666667
Countries in state Louisiana have an average population of 70833.9375
Countries in state Maine have an average population of 83022.5625
Countries in state Maryland have an average population of 240564.66666666666
Countries in state Massachusetts have an average population of 467687.78571428574
Countries in state Michigan have an average population of 119080.0
Countries in state Minnesota have an average population of 60964.65517241379
Countries in state Mississippi have an average population of 36186.54878048781
Countries in state Missouri have an average population of 52077.62608695652
Countries in state Montana have an average population of 17668.125
Countries in state Nebraska have an average population of 19638.075268817203
Countries in state Nevada have an average population of 158855.9411764706
Countries in state New Hampshire have an average population of 131647.0
Countries in state New Jersey have an average population of 418661.61904761905
Countries in state New Mexico have an average population of 62399.36363636364
Countries in state New York have an average population of 312550.03225806454
Countries in state North Carolina have an average population of 95354.83
Countries in state North Dakota have an average population of 12690.396226415094
Countries in state Ohio have an average population of 131096.63636363635
Countries in state Oklahoma have an average population of 48718.844155844155
Countries in state Oregon have an average population of 106418.72222222222
Countries in state Pennsylvania have an average population of 189587.74626865672
Countries in state Rhode Island have an average population of 210513.4
Countries in state South Carolina have an average population of 100551.39130434782
Countries in state South Dakota have an average population of 12336.060606060606
Countries in state Tennessee have an average population of 66801.1052631579
Countries in state Texas have an average population of 98998.27165354331
Countries in state Utah have an average population of 95306.37931034483
Countries in state Vermont have an average population of 44695.78571428572
Countries in state Virginia have an average population of 60111.29323308271
Countries in state Washington have an average population of 172424.10256410256
Countries in state West Virginia have an average population of 33690.8
Countries in state Wisconsin have an average population of 78985.91666666667
Countries in state Wyoming have an average population of 24505.478260869564
Countries in state Alabama have an average population of 71339.34328358209
Countries in state Alaska have an average population of 24490.724137931036
Countries in state Arizona have an average population of 426134.4666666667
Countries in state Arkansas have an average population of 38878.90666666667
Countries in state California have an average population of 642309.5862068966
Countries in state Colorado have an average population of 78581.1875
Countries in state Connecticut have an average population of 446762.125
Countries in state Delaware have an average population of 299311.3333333333
Countries in state District of Columbia have an average population of 601723.0
Countries in state Florida have an average population of 280616.5671641791
Countries in state Georgia have an average population of 60928.63522012578
Countries in state Hawaii have an average population of 272060.2
Countries in state Idaho have an average population of 35626.86363636364
Countries in state Illinois have an average population of 125790.50980392157
Countries in state Indiana have an average population of 70476.10869565218
Countries in state Iowa have an average population of 30771.262626262625
Countries in state Kansas have an average population of 27172.55238095238
Countries in state Kentucky have an average population of 36161.39166666667
Countries in state Louisiana have an average population of 70833.9375
Countries in state Maine have an average population of 83022.5625
Countries in state Maryland have an average population of 240564.66666666666
Countries in state Massachusetts have an average population of 467687.78571428574
Countries in state Michigan have an average population of 119080.0
Countries in state Minnesota have an average population of 60964.65517241379
Countries in state Mississippi have an average population of 36186.54878048781
Countries in state Missouri have an average population of 52077.62608695652
Countries in state Montana have an average population of 17668.125
Countries in state Nebraska have an average population of 19638.075268817203
Countries in state Nevada have an average population of 158855.9411764706
Countries in state New Hampshire have an average population of 131647.0
Countries in state New Jersey have an average population of 418661.61904761905
Countries in state New Mexico have an average population of 62399.36363636364
Countries in state New York have an average population of 312550.03225806454
Countries in state North Carolina have an average population of 95354.83
Countries in state North Dakota have an average population of 12690.396226415094
Countries in state Ohio have an average population of 131096.63636363635
Countries in state Oklahoma have an average population of 48718.844155844155
Countries in state Oregon have an average population of 106418.72222222222
Countries in state Pennsylvania have an average population of 189587.74626865672
Countries in state Rhode Island have an average population of 210513.4
Countries in state South Carolina have an average population of 100551.39130434782
Countries in state South Dakota have an average population of 12336.060606060606
Countries in state Tennessee have an average population of 66801.1052631579
Countries in state Texas have an average population of 98998.27165354331
Countries in state Utah have an average population of 95306.37931034483
Countries in state Vermont have an average population of 44695.78571428572
Countries in state Virginia have an average population of 60111.29323308271
Countries in state Washington have an average population of 172424.10256410256
Countries in state West Virginia have an average population of 33690.8
Countries in state Wisconsin have an average population of 78985.91666666667
Countries in state Wyoming have an average population of 24505.478260869564
Countries in state Alabama have an average population of 71339.34328358209
Countries in state Alaska have an average population of 24490.724137931036
Countries in state Arizona have an average population of 426134.4666666667
Countries in state Arkansas have an average population of 38878.90666666667
Countries in state California have an average population of 642309.5862068966
Countries in state Colorado have an average population of 78581.1875
Countries in state Connecticut have an average population of 446762.125
Countries in state Delaware have an average population of 299311.3333333333
Countries in state District of Columbia have an average population of 601723.0
Countries in state Florida have an average population of 280616.5671641791
Countries in state Georgia have an average population of 60928.63522012578
Countries in state Hawaii have an average population of 272060.2
Countries in state Idaho have an average population of 35626.86363636364
Countries in state Illinois have an average population of 125790.50980392157
Countries in state Indiana have an average population of 70476.10869565218
Countries in state Iowa have an average population of 30771.262626262625
Countries in state Kansas have an average population of 27172.55238095238
Countries in state Kentucky have an average population of 36161.39166666667
Countries in state Louisiana have an average population of 70833.9375
Countries in state Maine have an average population of 83022.5625
Countries in state Maryland have an average population of 240564.66666666666
Countries in state Massachusetts have an average population of 467687.78571428574
Countries in state Michigan have an average population of 119080.0
Countries in state Minnesota have an average population of 60964.65517241379
Countries in state Mississippi have an average population of 36186.54878048781
Countries in state Missouri have an average population of 52077.62608695652
Countries in state Montana have an average population of 17668.125
Countries in state Nebraska have an average population of 19638.075268817203
Countries in state Nevada have an average population of 158855.9411764706
Countries in state New Hampshire have an average population of 131647.0
Countries in state New Jersey have an average population of 418661.61904761905
Countries in state New Mexico have an average population of 62399.36363636364
Countries in state New York have an average population of 312550.03225806454
Countries in state North Carolina have an average population of 95354.83
Countries in state North Dakota have an average population of 12690.396226415094
Countries in state Ohio have an average population of 131096.63636363635
Countries in state Oklahoma have an average population of 48718.844155844155
Countries in state Oregon have an average population of 106418.72222222222
Countries in state Pennsylvania have an average population of 189587.74626865672
Countries in state Rhode Island have an average population of 210513.4
Countries in state South Carolina have an average population of 100551.39130434782
Countries in state South Dakota have an average population of 12336.060606060606
Countries in state Tennessee have an average population of 66801.1052631579
Countries in state Texas have an average population of 98998.27165354331
Countries in state Utah have an average population of 95306.37931034483
Countries in state Vermont have an average population of 44695.78571428572
Countries in state Virginia have an average population of 60111.29323308271
Countries in state Washington have an average population of 172424.10256410256
Countries in state West Virginia have an average population of 33690.8
Countries in state Wisconsin have an average population of 78985.91666666667
Countries in state Wyoming have an average population of 24505.478260869564
Countries in state Alabama have an average population of 71339.34328358209
Countries in state Alaska have an average population of 24490.724137931036
Countries in state Arizona have an average population of 426134.4666666667
Countries in state Arkansas have an average population of 38878.90666666667
Countries in state California have an average population of 642309.5862068966
Countries in state Colorado have an average population of 78581.1875
Countries in state Connecticut have an average population of 446762.125
Countries in state Delaware have an average population of 299311.3333333333
Countries in state District of Columbia have an average population of 601723.0
Countries in state Florida have an average population of 280616.5671641791
Countries in state Georgia have an average population of 60928.63522012578
Countries in state Hawaii have an average population of 272060.2
Countries in state Idaho have an average population of 35626.86363636364
Countries in state Illinois have an average population of 125790.50980392157
Countries in state Indiana have an average population of 70476.10869565218
Countries in state Iowa have an average population of 30771.262626262625
Countries in state Kansas have an average population of 27172.55238095238
Countries in state Kentucky have an average population of 36161.39166666667
Countries in state Louisiana have an average population of 70833.9375
Countries in state Maine have an average population of 83022.5625
Countries in state Maryland have an average population of 240564.66666666666
Countries in state Massachusetts have an average population of 467687.78571428574
Countries in state Michigan have an average population of 119080.0
Countries in state Minnesota have an average population of 60964.65517241379
Countries in state Mississippi have an average population of 36186.54878048781
Countries in state Missouri have an average population of 52077.62608695652
Countries in state Montana have an average population of 17668.125
Countries in state Nebraska have an average population of 19638.075268817203
Countries in state Nevada have an average population of 158855.9411764706
Countries in state New Hampshire have an average population of 131647.0
Countries in state New Jersey have an average population of 418661.61904761905
Countries in state New Mexico have an average population of 62399.36363636364
Countries in state New York have an average population of 312550.03225806454
Countries in state North Carolina have an average population of 95354.83
Countries in state North Dakota have an average population of 12690.396226415094
Countries in state Ohio have an average population of 131096.63636363635
Countries in state Oklahoma have an average population of 48718.844155844155
Countries in state Oregon have an average population of 106418.72222222222
Countries in state Pennsylvania have an average population of 189587.74626865672
Countries in state Rhode Island have an average population of 210513.4
Countries in state South Carolina have an average population of 100551.39130434782
Countries in state South Dakota have an average population of 12336.060606060606
Countries in state Tennessee have an average population of 66801.1052631579
Countries in state Texas have an average population of 98998.27165354331
Countries in state Utah have an average population of 95306.37931034483
Countries in state Vermont have an average population of 44695.78571428572
Countries in state Virginia have an average population of 60111.29323308271
Countries in state Washington have an average population of 172424.10256410256
Countries in state West Virginia have an average population of 33690.8
Countries in state Wisconsin have an average population of 78985.91666666667
Countries in state Wyoming have an average population of 24505.478260869564
Countries in state Alabama have an average population of 71339.34328358209
Countries in state Alaska have an average population of 24490.724137931036
Countries in state Arizona have an average population of 426134.4666666667
Countries in state Arkansas have an average population of 38878.90666666667
Countries in state California have an average population of 642309.5862068966
Countries in state Colorado have an average population of 78581.1875
Countries in state Connecticut have an average population of 446762.125
Countries in state Delaware have an average population of 299311.3333333333
Countries in state District of Columbia have an average population of 601723.0
Countries in state Florida have an average population of 280616.5671641791
Countries in state Georgia have an average population of 60928.63522012578
Countries in state Hawaii have an average population of 272060.2
Countries in state Idaho have an average population of 35626.86363636364
Countries in state Illinois have an average population of 125790.50980392157
Countries in state Indiana have an average population of 70476.10869565218
Countries in state Iowa have an average population of 30771.262626262625
Countries in state Kansas have an average population of 27172.55238095238
Countries in state Kentucky have an average population of 36161.39166666667
Countries in state Louisiana have an average population of 70833.9375
Countries in state Maine have an average population of 83022.5625
Countries in state Maryland have an average population of 240564.66666666666
Countries in state Massachusetts have an average population of 467687.78571428574
Countries in state Michigan have an average population of 119080.0
Countries in state Minnesota have an average population of 60964.65517241379
Countries in state Mississippi have an average population of 36186.54878048781
Countries in state Missouri have an average population of 52077.62608695652
Countries in state Montana have an average population of 17668.125
Countries in state Nebraska have an average population of 19638.075268817203
Countries in state Nevada have an average population of 158855.9411764706
Countries in state New Hampshire have an average population of 131647.0
Countries in state New Jersey have an average population of 418661.61904761905
Countries in state New Mexico have an average population of 62399.36363636364
Countries in state New York have an average population of 312550.03225806454
Countries in state North Carolina have an average population of 95354.83
Countries in state North Dakota have an average population of 12690.396226415094
Countries in state Ohio have an average population of 131096.63636363635
Countries in state Oklahoma have an average population of 48718.844155844155
Countries in state Oregon have an average population of 106418.72222222222
Countries in state Pennsylvania have an average population of 189587.74626865672
Countries in state Rhode Island have an average population of 210513.4
Countries in state South Carolina have an average population of 100551.39130434782
Countries in state South Dakota have an average population of 12336.060606060606
Countries in state Tennessee have an average population of 66801.1052631579
Countries in state Texas have an average population of 98998.27165354331
Countries in state Utah have an average population of 95306.37931034483
Countries in state Vermont have an average population of 44695.78571428572
Countries in state Virginia have an average population of 60111.29323308271
Countries in state Washington have an average population of 172424.10256410256
Countries in state West Virginia have an average population of 33690.8
Countries in state Wisconsin have an average population of 78985.91666666667
Countries in state Wyoming have an average population of 24505.478260869564
Countries in state Alabama have an average population of 71339.34328358209
Countries in state Alaska have an average population of 24490.724137931036
Countries in state Arizona have an average population of 426134.4666666667
Countries in state Arkansas have an average population of 38878.90666666667
Countries in state California have an average population of 642309.5862068966
Countries in state Colorado have an average population of 78581.1875
Countries in state Connecticut have an average population of 446762.125
Countries in state Delaware have an average population of 299311.3333333333
Countries in state District of Columbia have an average population of 601723.0
Countries in state Florida have an average population of 280616.5671641791
Countries in state Georgia have an average population of 60928.63522012578

In [23]:
df=df.set_index('STNAME')

def set_batch_number(item):
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

for group, frame in df.groupby(set_batch_number):
    print('There are ' + str(len(frame))+ ' records in group ' + str(group) + ' for processing.')

There are 1177 records in group 0 for processing.
There are 1134 records in group 1 for processing.
There are 831 records in group 2 for processing.

In [3]:
df=pd.read_csv("datasets/listings.csv")
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [26]:
df=df.set_index(["cancellation_policy",'review_scores_value'])

for group, frame in df.groupby(level=(0,1)):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [28]:
def grouping_fun(item):

    if item[1]=='10.0':
        return (item[0],"10.0")
    else:
        return (item[0],'not 10.0')
    
for group, frame in df.groupby(by=grouping_fun):
    print(group)

('flexible', 'not 10.0')
('moderate', 'not 10.0')
('strict', 'not 10.0')
('super_strict_30', 'not 10.0')

In [29]:
df.head()

                                               id  \
cancellation_policy review_scores_value
moderate            NaN                  12147973
                    9.0                   3075044
                    10.0                     6976
                    10.0                  1436513
flexible            10.0                  7651065

                                                                   listing_url  \
cancellation_policy review_scores_value
moderate            NaN                  https://www.airbnb.com/rooms/12147973
                    9.0                   https://www.airbnb.com/rooms/3075044
                    10.0                     https://www.airbnb.com/rooms/6976
                    10.0                  https://www.airbnb.com/rooms/1436513
flexible            10.0                  https://www.airbnb.com/rooms/7651065

                                              scrape_id last_scraped  \
cancellation_policy review_scores_value
moderate            NaN                  20160906204935   2016-09-07
                    9.0                  20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
flexible            10.0                 20160906204935   2016-09-07

                                                                                  name  \
cancellation_policy review_scores_value
moderate            NaN                                     Sunny Bungalow in the City
                    9.0                              Charming room in pet friendly apt
                    10.0                              Mexican Folk Art Haven in Boston
                    10.0                 Spacious Sunny Bedroom Suite in Historic Home
flexible            10.0                                           Come Home to Boston

                                                                                   summary  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                                                                     space  \
cancellation_policy review_scores_value
moderate            NaN                  The house has an open and cozy feel at the sam...
                    9.0                  Small but cozy and quite room with a full size...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Most places you find in Boston are small howev...
flexible            10.0                 Clean, attractive, private room, one block fro...

                                                                               description  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                        experiences_offered  \
cancellation_policy review_scores_value
moderate            NaN                                none
                    9.0                                none
                    10.0                               none
                    10.0                               none
flexible            10.0                               none

                                                                     neighborhood_overview  \
cancellation_policy review_scores_value
moderate            NaN                  Roslindale is quiet, convenient and friendly. ...
                    9.0                  The room is in Roslindale, a diverse and prima...
                    10.0                 The LOCATION: Roslindale is a safe and diverse...
                    10.0                 Roslindale is a lovely little neighborhood loc...
flexible            10.0                 I love the proximity to downtown, the neighbor...

                                         ... review_scores_communication  \
cancellation_policy review_scores_value  ...
moderate            NaN                  ...                         NaN
                    9.0                  ...                        10.0
                    10.0                 ...                        10.0
                    10.0                 ...                        10.0
flexible            10.0                 ...                        10.0

                                        review_scores_location  \
cancellation_policy review_scores_value
moderate            NaN                                    NaN
                    9.0                                    9.0
                    10.0                                   9.0
                    10.0                                  10.0
flexible            10.0                                   9.0

                                        requires_license license  \
cancellation_policy review_scores_value
moderate            NaN                                f     NaN
                    9.0                                f     NaN
                    10.0                               f     NaN
                    10.0                               f     NaN
flexible            10.0                               f     NaN

                                        jurisdiction_names instant_bookable  \
cancellation_policy review_scores_value
moderate            NaN                                NaN                f
                    9.0                                NaN                t
                    10.0                               NaN                f
                    10.0                               NaN                f
flexible            10.0                               NaN                f

                                        require_guest_profile_picture  \
cancellation_policy review_scores_value
moderate            NaN                                             f
                    9.0                                             f
                    10.0                                            t
                    10.0                                            f
flexible            10.0                                            f

                                        require_guest_phone_verification  \
cancellation_policy review_scores_value
moderate            NaN                                                f
                    9.0                                                f
                    10.0                                               f
                    10.0                                               f
flexible            10.0                                               f

                                        calculated_host_listings_count  \
cancellation_policy review_scores_value
moderate            NaN                                              1
                    9.0                                              1
                    10.0                                             1
                    10.0                                             1
flexible            10.0                                             1

                                         reviews_per_month
cancellation_policy review_scores_value
moderate            NaN                                NaN
                    9.0                               1.30
                    10.0                              0.47
                    10.0                              1.00
flexible            10.0                              2.25

[5 rows x 93 columns]

### Aggregation

In [36]:
df=df.reset_index()
df.groupby("cancellation_policy").agg({"review_scores_value":np.average})

ValueError: cannot insert level_0, already exists

In [37]:
df.groupby("cancellation_policy").agg({"review_scores_value":np.nanmean})

/tmp/ipykernel_5548/3072045663.py:1: FutureWarning: The provided callable <function nanmean at 0x7efd545fd090> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby("cancellation_policy").agg({"review_scores_value":np.nanmean})

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [34]:
df.columns

Index(['level_0', 'index', 'cancellation_policy', 'review_scores_value', 'id',
       'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary', 'space',
       'description', 'experiences_offered', 'neighborhood_overview', 'notes',
       'transit', 'access', 'interaction', 'house_rules', 'thumbnail_url',
       'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

In [35]:
'review_scores_value' in df.columns

True

In [38]:
df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean,np.nanstd),
                                       "reviews_per_month":np.nanmean})

/tmp/ipykernel_5548/3154721407.py:1: FutureWarning: The provided callable <function nanmean at 0x7efd545fd090> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean,np.nanstd),
/tmp/ipykernel_5548/3154721407.py:1: FutureWarning: The provided callable <function nanstd at 0x7efd545fd990> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean,np.nanstd),
/tmp/ipykernel_5548/3154721407.py:1: FutureWarning: The provided callable <function nanmean at 0x7efd545fd090> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean,np.nanstd),

                    review_scores_value           reviews_per_month
                                nanmean    nanstd           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

### Transformation

In [6]:
cols=['cancellation_policy','review_scores_value']
transform_df=df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()

/tmp/ipykernel_7702/193012667.py:2: FutureWarning: The provided callable <function nanmean at 0x7fa7def36a70> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  transform_df=df[cols].groupby('cancellation_policy').transform(np.nanmean)

   review_scores_value
0             9.307398
1             9.307398
2             9.307398
3             9.307398
4             9.237421

In [7]:
transform_df.rename({'review_scores_value':'mean_review_scores'}, axis='columns', inplace=True)
df=df.merge(transform_df,left_index=True, right_index=True)

In [41]:
df.head()

,level_0,index,cancellation_policy,review_scores_value,id,listing_url,scrape_id,last_scraped,name,summary,...,review_scores_location,requires_license,license,jurisdiction_names,instant_bookable,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores
0,0,0,moderate,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",...,NaN,f,NaN,NaN,f,f,f,1,NaN,9.307398
1,1,1,moderate,9.0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,...,9.0,f,NaN,NaN,t,f,f,1,1.30,9.307398
2,2,2,moderate,10.0,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...",...,9.0,f,NaN,NaN,f,t,f,1,0.47,9.307398
3,3,3,moderate,10.0,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,...,10.0,f,NaN,NaN,f,f,f,1,1.00,9.307398
4,4,4,flexible,10.0,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...",...,9.0,f,NaN,NaN,f,f,f,1,2.25,9.237421

In [8]:
import numpy as np
import pandas as pd
df['mean_diff']=np.absolute(df['review_scores_value']-df['mean_review_scores'])
df['mean_diff'].head()

0         NaN
1    0.307398
2    0.692602
3    0.692602
4    0.762579
Name: mean_diff, dtype: float64

### Filtering

In [9]:
df.groupby('cancellation_policy').filter(lambda x:np.nanmean(x['review_scores_value'])>9.2)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores,mean_diff
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,NaN,f,moderate,f,f,1,NaN,9.307398,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,NaN,NaN,t,moderate,f,f,1,1.30,9.307398,0.307398
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,NaN,NaN,f,moderate,t,f,1,0.47,9.307398,0.692602
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,NaN,NaN,f,moderate,f,f,1,1.00,9.307398,0.692602
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,NaN,NaN,f,flexible,f,f,1,2.25,9.237421,0.762579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3576,14689681,https://www.airbnb.com/rooms/14689681,20160906204935,2016-09-07,Beautiful loft style bedroom with large bathroom,You'd be living on the top floor of a four sto...,NaN,You'd be living on the top floor of a four sto...,none,NaN,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3577,13750763,https://www.airbnb.com/rooms/13750763,20160906204935,2016-09-07,Comfortable Space in the Heart of Brookline,"Our place is close to Coolidge Corner, Allston...",This space consists of 2 Rooms and a private b...,"Our place is close to Coolidge Corner, Allston...",none,Brookline is known for being an excellent and ...,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3579,14852179,https://www.airbnb.com/rooms/14852179,20160906204935,2016-09-07,Spacious Queen Bed Room Close to Boston Univer...,- Grocery: A full-size Star market is 2 minute...,NaN,- Grocery: A full-size Star market is 2 minute...,none,NaN,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3582,14585486,https://www.airbnb.com/rooms/14585486,20160906204935,2016-09-07,Gorgeous funky apartment,Funky little apartment close to public transpo...,Modern and relaxed space with many facilities ...,Funky little apartment close to public transpo...,none,"Cambridge is a short walk into Boston, and set...",...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3584,14504422,https://www.airbnb.com/rooms/14504422,20160906204935,2016-09-07,(K1) Private Room near Harvard/MIT,My place is close to My home is a warm and fri...,To ensure a smooth check in: 1. You MUST have ...,My place is close to My home is a warm and fri...,none,NaN,...,NaN,NaN,t,flexible,f,f,3,NaN,9.237421,NaN

### Applying

In [11]:
df=pd.read_csv("datasets/listings.csv")
df=df[['cancellation_policy','review_scores_value']]
df.head()

  cancellation_policy  review_scores_value
0            moderate                  NaN
1            moderate                  9.0
2            moderate                 10.0
3            moderate                 10.0
4            flexible                 10.0

In [12]:
def calc_mean_review_scores(group):
    avg=np.nanmean(group['review_scores_value'])
    group['review_scores_mean']=np.abs(avg-group["review_scores_value"])
    return group

df.groupby('cancellation_policy').apply(calc_mean_review_scores).head()

                       cancellation_policy  review_scores_value  \
cancellation_policy
flexible            4             flexible                 10.0
                    5             flexible                 10.0
                    10            flexible                 10.0
                    11            flexible                  9.0
                    12            flexible                 10.0

                        review_scores_mean
cancellation_policy
flexible            4             0.762579
                    5             0.762579
                    10            0.762579
                    11            0.237421
                    12            0.762579